<a href="https://colab.research.google.com/github/i-m-som28/stella/blob/master/ineuronass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/open?id=1KJ8Ll51bJUEKcOm9Pqc4Kz58kvwhsnHG)

In [0]:
print("The numbers divisable by 7 but not multiplied by 5 within range 2000 to 3200 are:")
for i in range(2000,3201):
  if(i%7 == 0 and i%5 != 0):
    print(i,end=',')

The numbers divisable by 7 but not multiplied by 5 within range 2000 to 3200 are:
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [0]:
'''accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name'''

def reverse(string):
  string=string[::-1]
  return string

first_name=input("Users first name is:")
last_name=input("Users last name is:")
name=first_name+" "+last_name
print('users original name is:',name)

rev_name=reverse(name)

print("Users Reversed First and Last Name : ",rev_name,end=" ")

Users first name is:Somasree
Users last name is:Ghosh
users original name is: Somasree Ghosh
Users Reversed First and Last Name :  hsohG eersamoS

In [0]:
''' To calculate the volume of a sphere '''
diameter=12
r=diameter/2
pi=22/7
vol=4/3*pi*r*r*r
print("The volume of sphere is: ",vol)

The volume of sphere is:  905.142857142857

In [0]:
'''Write a program which accepts a sequence of comma-separated numbers from console and generate a list'''
num=input("Enter Multiple Numbers seperated by comma :\n").split(",")
list_num=list(num)
print(list_num)

Enter Multiple Numbers seperated by comma :
1,2,3,4,5,6,8,9
['1', '2', '3', '4', '5', '6', '8', '9']

In [7]:
'''Create the below pattern using nested for loop in Python'''
n=6
for i in range(n):
  for j in range(i):
    print('*',end=' ')
  print('')
for i in range(n,0,-1):
  for j in range(i):
    print('*',end=" ")
  print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [0]:
'''to reverse the word taken as input from user'''
word=input("enter the word:")
def reverse(string):
  return string[::-1]
rev_word=reverse(word)
print("the reversed word is:",rev_word)

enter the word:AcadGild
the reversed word is: dliGdacA

In [3]:
print("WE, THE PEOPLE OF INDIA, \n\t having solemnly resolved to constitute India into a SOVEREIGN,\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens